PORT=5000
MONGO_URI=mongodb+srv://keshukumar1909_db_user:B8ZYi3lNosvZymbr@assignmentpre.ndudxw4.mongodb.net/student_tickets?appName=AssignmentPre
JWT_SECRET=super_secret_jwt_token_key_student_ticket_system_2026
NODE_ENV=development
